.datatable {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    height: 100%;
    overflow: hidden;

    &_header {
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: column;
        align-items: flex-start;
        padding: var(--spacing-xs) var(--spacing-md) var(--spacing-xs) var(--spacing-md);
        border-radius: var(--radius-box);
        border: var(--border-width) solid var(--border-color);
        background-color: var(--surface-a);
        width: 100%;

        @media (max-width: 768px) {
            padding: var(--spacing-sm) var(--spacing-md) var(--spacing-md) var(--spacing-md);

        }

        &_open {
            padding: var(--spacing-xs) var(--spacing-md) var(--spacing-md) var(--spacing-md);
        }

        &>div:is(:first-child) {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-sm);
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
        }
    }

    &_search {
        display: flex;
        gap: var(--spacing-sm);
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    &_search_input {
        display: flex;
        gap: var(--spacing-sm);
        flex-wrap: wrap;
        align-items: center;
        flex: 1;
        min-width: 250px;
        max-width: 100%;
    }

    &_actions {
        display: flex;
        gap: var(--spacing-sm);
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &_filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-sm);
        padding: 0 var(--spacing-xs);
        overflow: hidden;
        width: 100%;

        &_open {
            padding: var(--spacing-xs) var(--spacing-xs);
        }

        &_custom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: var(--radius-box);
            overflow: hidden;
            width: 100%;
            margin-bottom: var(--spacing-2xs);

            &:hover {
                cursor: pointer;
                background-color: var(--surface-b);
            }

            &>label {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs) var(--spacing-xs);


            }
        }
    }

    &_table {

        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 0;

        &>div {
            flex: 1;
            overflow: auto;
            width: 100%;
        }
    }

    &_divider {
        flex-shrink: 0;
    }

    &_tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-sm);
        padding: var(--spacing-sm) var(--spacing-xs);
        overflow: hidden;
        width: 100%;

        & div {
            background-color: var(--surface-b) !important;
            border: var(--border-width) solid var(--surface-c) !important;
            padding: var(--spacing-xs) var(--spacing-sm);

            span {

                &:first-child {
                    color: var(--foreground-secondary-color);
                    font-weight: var(--font-weight-regular);
                }

                &:nth-child(2) {
                    color: var(--foreground-title-color);
                    font-weight: var(--font-weight-medium);
                }
            }
        }
    }


}

.dialog {

    &_footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: var(--spacing-sm);
        padding: var(--spacing-xs) var(--spacing-xs);
        width: 100%;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        padding: var(--spacing-lg) var(--spacing-lg);

        p {
            text-align: center;
            margin: 0;
        }
    }
}