.name {
    color: var(--primary-color);
}

.descriptionEmpty {
    color: var(--foreground-secondary-color);
}

.dialogContent {
    padding: var(--spacing-md) var(--spacing-lg);
    width: 355px;
    max-width: 100svw;
}

.dialogTitle {
    margin-bottom: var(--spacing-sm);
    color: var(--text-color);
}