.fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    border-radius: var(--radius-box);
    border: var(--border-width) solid var(--border-color);
    background-color: var(--surface-a);
    width: 100%;

    &_legend {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold);
        color: var(--foreground-secondary-color);
        padding: 0 var(--spacing-xs);
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        padding: var(--spacing-md);
        width: 100%;
    }
}