.price {
    color: var(--success-color);
}

.dialogContent {
    padding: var(--spacing-4);
    width: 600px;
    /* Tamaño por defecto o 100% que sea responsivo */
    max-width: 100vw;
}

.dialogTitle {
    margin-bottom: var(--spacing-4);
    color: var(--text-color);
}