.formtenant {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    width: 100%;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
        padding: var(--spacing-3xl) var(--spacing-md);
        width: 100%;
        max-width: 500px;
    }
}