.header_section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-md);
    height: var(--spacing-3xl);
    padding: var(--spacing-none) var(--spacing-sm);
    background-color: var(--surface-a);
    border-bottom: 1px solid var(--surface-b);
    width: 100%;

    &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-md);
        width: 100%;
        height: 100%;

        & span {
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-xs);

            &:first-child {
                font-weight: var(--font-weight-bold);
            }
        }

        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-sm);
            height: 100%;

            & div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: var(--spacing-4xs);
            }
        }
    }
}