.formplan {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    width: 100%;

    &_alert {
        margin-top: var(--spacing-2xl);
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: calc(100vh - 22.25em);
        overflow-y: auto;
    }

    &_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-2xl);
        padding: var(--spacing-3xl) var(--spacing-md);
        width: 100%;
        max-width: 600px;
    }

    &_features {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        width: 100%;
    }

    &_line {
        display: grid;
        grid-template-columns: 1fr 1.5fr 2rem;
        align-items: flex-end;
        gap: var(--spacing-sm);
        width: 100%;

        button {
            margin-bottom: calc(var(--spacing-xs) + var(--spacing-3xs));
        }
    }

    &_description {
        resize: none;
    }

    &_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: var(--spacing-2xl);
        column-gap: var(--spacing-lg);
        width: 100%;

        @media (width < 768px) {
            grid-template-columns: 1fr;
        }
    }
}

.completed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-sm);
    width: 100%;
    height: calc(100vh - 22.25em);

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: var(--spacing-md);
        border: 1px solid var(--border-color);
        border-radius: var(--radius-box);
    }

    &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-sm);
        margin-bottom: var(--spacing-lg);
    }

    &_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xl);
    }

    &_icon_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 84px;
        height: 84px;
        border-radius: 50%;
    }

    &_icon {
        color: var(--success-base-color);
        width: 48px;
        height: 48px;
    }

    &_title {
        text-align: center;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        color: var(--foreground-title-color);
    }

    &_subtitle {
        font-size: var(--font-size-sm);
        color: var(--foreground-secondary-color);
        text-align: center;
        text-wrap: balance;
        max-width: 70ch;
        line-height: 1.5;
    }

    &_preview {
        max-width: 500px;
        padding: var(--spacing-lg);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &_footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-3xl)var(--spacing-none) var(--spacing-lg) var(--spacing-none);
        gap: var(--spacing-sm);
        width: 100%;
        max-width: 300px;
    }

}