:root {
    --radius-field: var(--radius-xs);
    --radius-box: var(--radius-sm);
    --radius-selector: var(--radius-xs);

}

* {
    font-family: var(--font-jost);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}