.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
}

.textArea {
    resize: none;
}

.fileInputWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
}