.barchart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &_chart {
        outline: none;

        * {
            outline: none;
        }
    }

    h2 {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-semibold);
        text-align: center;
    }

    span {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        color: var(--foreground-secondary-color);
    }
}