.tenanttable {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    height: 100%;

    .table_actions {
        display: flex;
        gap: var(--spacing-sm);
        justify-content: center;
    }
}