 .kips {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
     gap: var(--spacing-sm);
 }

 .wrapper {
     display: flex;
     flex-direction: column;
     gap: var(--spacing-sm);
     width: 100%;
     height: 100%;
 }

 .charts {
     display: grid;
     grid-template-columns: 0.6fr 0.4fr;
     gap: var(--spacing-sm);
     width: 100%;
     min-height: 55%;

     @media (width < 1040px) {
         grid-template-columns: 1fr;
         min-height: 800px;
     }

     &_area {
         display: flex;
         flex-direction: row;
         gap: var(--spacing-sm);
         height: 100%;

         @media (width < 1400px) {
             min-height: 400px;
         }
     }

     &_donut {
         display: flex;
         flex-direction: column;
         gap: var(--spacing-sm);
         height: 100%;

         @media (width < 1400px) {
             min-height: 360px;
         }
     }
 }

 .tables {
     display: grid;
     grid-template-columns: 0.3fr 0.3fr 0.404fr;
     gap: var(--spacing-sm);
     width: 100%;
     min-height: 45%;

     @media (width < 1400px) {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
         height: 60%;
         min-height: max-content;

         &>div:nth-child(3) {
             grid-column: 1 / span 2;
         }
     }

     @media (width < 880px) {
         display: flex;
         flex-direction: column;
         height: 100%;
         min-height: 920px;
     }

     @media (width < 600px) {
         height: 100%;
         min-height: 100%;
     }

 }