.container {
    display: flex;
    flex-direction: column;

    &_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        h1 {
            margin: 0;
        }

        span {
            color: var(--color-gray-500);
        }
    }

    &_kips {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: var(--spacing-sm);
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        width: 100%;
        height: calc(100svh - 345px);
    }

    &_charts {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        gap: var(--spacing-sm);
        width: 100%;
        height: 55%;

        &_area {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-sm);
        }
    }

    &_tables {
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 0.404fr;
        gap: var(--spacing-sm);
        width: 100%;
        height: 45%;

        &_table {
            width: 50%;
            overflow-y: auto;
        }
    }
}