.grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    padding: var(--spacing-xs) var(--spacing-sm);
}

.item {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-2xs) var(--spacing-xs);
    border-radius: var(--radius-sm);
    background-color: var(--surface-b);

    &_icon {
        color: var(--foreground-secondary-color);
        display: flex;
        align-items: center;
    }

    &_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: var(--spacing-xs);
    }

    &_label {
        font-size: var(--font-size-sm);
        color: var(--foreground-secondary-color);
    }

    &_value {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-semibold);
        color: var(--foreground-primary-color);
    }
}

.started {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-xs);
    color: var(--foreground-tertiary-color);

    strong {
        color: var(--foreground-secondary-color);
        font-weight: var(--font-weight-medium);
    }
}